<!--content-->
<div class="background bg-r loginSection">
  <div class="row">
    <div class="login-block">
      <div class="bg-color border-radius form-head">GoogleMaps</div>
      <form class="login-form">
        <div class="form-group mb-3">
          <b>Useremail</b>
          <input
            type="text"
            id="input"
            class="login-input"
            placeholder="User Email"
            name="uaseName"
            [(ngModel)]="userInputDetails.email"
          />
          <img src="../../assets/email.jpg" id="input_img" />
        </div>
        <div class="form-group mt-0">
          <b>Pasword</b>
          <input
            type="password"
            id="input"
            class="login-input"
            name="password"
            placeholder="Pasword"
            [(ngModel)]="userInputDetails.password"
          />
          <img src="../../assets/lock-icon.png" id="input_img" />
        </div>
        <br />
        <a
          class="button-fullwidth login-btn bt-color-3 border-radius alt"
          (click)="doLogin()"
          >Login</a
        >
        <br /><br />
        <a [routerLink]="['../registration']">registrer</a>
      </form>
    </div>
  </div>
</div>
