<!--header-->
<!-- <div class="sticky-wrapper row-padding sticky-menu-boader">
  <div class="sticky-menu">
    <div class="grid-row clear-fix"></div>
  </div>
</div> -->
<!--content-->
<div class="background bg-r registerSection">
  <div class="row">
    <div class="login-block">
      <div class="bg-color border-radius form-head"></div>
      <form class="login-form">
        <div class="form-group mb-3">
          <b>Username</b>
          <input
            type="text"
            id="input"
            class="login-input"
            placeholder="User Name"
            name="uaseName"
            [(ngModel)]="userInputDetails.username"
          />
          <img src="../../assets/user-icon-human.jpg" id="input_img" />
        </div>
        <div class="form-group">
          <b>Useremail</b>
          <input
            type="text"
            id="input"
            class="login-input"
            placeholder="User Email"
            name="email"
            [(ngModel)]="userInputDetails.email"
          />
          <img src="../../assets/email.jpg" id="input_img" />
        </div>
        <div class="form-group mt-0">
          <b>Pasword</b>
          <input
            type="password"
            id="input"
            class="login-input"
            placeholder="Enter Pasword"
            name="password"
            [(ngModel)]="userInputDetails.password"
          />
          <img src="../../assets/lock-icon.png" id="input_img" />
        </div>
        <br />
        <div class="form-group mt-0">
          <b>Mobile</b>
          <input
            type="password"
            id="input"
            class="login-input"
            placeholder="Enter mobile"
            name="mobile"
            [(ngModel)]="userInputDetails.mobile"
          />
          <img src="../../assets/lock-icon.png" id="input_img" />
        </div>
        <br />
        <a
          (click)="register()"
          class="button-fullwidth login-btn bt-color-3 border-radius alt"
          >REGISTER</a
        ><br /><br />
      </form>
    </div>
  </div>
</div>
<!--footer-->
<!-- FOOTER -->
<!-- <footer>
    <div class="footer-bottom row-padding">
      <div class="clear-fix">
        <div class="copyright">footer</div>
      </div>
    </div>
  </footer> -->
<!-- FOOTER -->
